@import "./reset.css";
@import "./bootstrap.min.css";
@import "./bootstrap-card.css";
@import "./prism.css";
@import "./ionicons.min.css";
@import "./compodoc.css";
@import "./tablesort.css";


/**Nuestros Stilos*/

h1 {
    color: blue;
}

h2 {
    color: orange;
}

code {
    color: aquamarine;
}

a {
    color: blueviolet
}

.menu .title {
  
    margin-top: 250px;
}

.menu {
    background: url('logo.png') no-repeat;
    background-size: 230px;
    background-position-x: center;
    background-position-y: 2%;
}

.title {
    background-color: red;
}

.title a {
    color: blue !important;
    text-align: center;
    text-transform: capitalize;
}

#book-search-input {
  background: green;
  color:white; 
}